# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE/editor configs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env

#
Practice